<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>
			<nav>
				<a href="#"><img src="#" alt="Small Logo"></a>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">About Us</a></li>
					<li><a href="#">Menu</a></li>
					<li><a href="#">Order Now</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Location</a></li>
					<li><a href="#"><img src="#" alt="Shopping Kart"></a></li>
					<li><input type="search"></li>
				</ul>
			</nav>
		</header>
		<main>
			<section>
				<h1>Welcome To Our Cuisine Restaurant</h1>
				<input type="search" placeholder="Search Here">
				<a href="#">Location</a>
				<ul>
					<li><a href="#"><img src="#" alt="Facebook Logo"></a></li>
					<li><a href="#"><img src="#" alt="Twitter Logo"></a></li>
					<li><a href="#"><img src="#" alt="Intagram Logo"></a></li>
				</ul>	
			</section>
			<section>
				<span>About Us</span>
				<h2>Discover Our Restaurant Story</h2>
				<p>Cuisine is a team work of Cuisine Restaurant Cafe, we aim at promoting the foodstuff in 
					dusty through the branches, we establish and through the new dishes and integrate
					between different cultures.
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
					Ex cumque quisquam provident asperiores? 
					Tempore expedita laborum neque veritatis, 
					tempora repudiandae maiores atque suscipit dolore quam similique. 
					Repudiandae totam quaerat aut!
				</p>
				<a href="#">Discover Menu</a>
				<a href="#">→</a>
			</section>
			<section>
				<span>Order Online Now</span>
				<h2>Our Speciality Cuisine</h2>
				<ul>
					<li><a href="#">Breakfest</a></li>
					<li><a href="#">Lunch</a></li>
					<li><a href="#">Dinner</a></li>
					<li><a href="#">Dessert</a></li>
					<li><a href="#">Shake</a></li>
				</ul>
				<div>
					<img src="#" alt="Some Dish">
					<img src="#" alt="Some Dish">
					<img src="#" alt="Some Dish">
					<img src="#" alt="Some Dish">
				</div>
			</section>
			<section>
				<span>Book Table</span>
				<h2>Opening Hours</h2>
				<img src="#" alt="Telephone Icon">
				<span>Call Now</span>
				<span>+12345 678 910</span>
				<span>Monday to Tuesday <br>
					09:00 am - 22:00 pm
				</span>
				<span>Friday to Sunday <br>
					11:00 am - 20:00 pm
				</span>
				<img src="#" alt="Bowl of fruits.">
			</section>
			<section>
				<span>Testimonials</span>
				<h2>Customer Say</h2>
				<img src="#" alt="Customer Photo">
				<span>Mr John Smith</span>
				<span>Art Director</span>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
					Eius numquam molestiae eligendi id harum asperiores, 
					consequatur recusandae voluptatum. 
					A voluptate illum qui suscipit soluta illo, 
					velit assumenda in cum iusto?</p>
			</section>
		</main>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
