<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>
			<nav>
				<a href="#"><img src="#" alt="Logo"></a>
				<ul>
					<li><a href="#">HOME</a></li>
					<li><a href="#">ABOUT</a></li>
					<li><a href="#">SERVICES</a></li>
					<li><a href="#">LOOKBOOK</a></li>
					<li><a href="#">NEWS</a></li>
					<li><a href="#">CONTACT</a></li>
					<li><input type="search" placeholder="Search Icon"></li>
					<li><img src="#" alt="Shoping Kart"></li>
				</ul>
				<a href="#">- BOOK ONLINE</a>
			</nav>
		</header>
		<main>
			<section class="clearfix">
				<h1>BLONDE & HIGHLIGHT</h1>
				<p>DIVIDE YOUR UNIQUENESS BY YOUR HAIRS IN STYLE</p>
				<a href="#">- OUR SERVICES</a>
				<section>
					<h3>YOUR FIRST VISIT?</h3>
					<p><span>-20%</span> FOR THE FIRST CLASSIC HAIR COLORING</p>
					<a href="#">- BOOK ONLINE</a>
				</section>
				<ul class="clearfix">
					<li class="lifloatleft">
						<img src="#" alt="Experts Icon">
						<h4>EXPERT BEUTICIANS</h4>
						<p>Beauty Experts Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit iste, dicta dolorum harum quas sunt!</p>
					</li>
					<li class="lifloatleft">
						<img src="#" alt="Chair Icon">
						<h4>QUALITY SERVICES</h4>
						<p>Hair Styling Services Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit iste, dicta dolorum harum quas sunt!</p>
					</li>
					<li class="lifloatleft">
						<img src="#" alt="Beauty Product Icon">
						<h4>BEAUTY PRODUCTS</h4>
						<p>Hair Color or Products Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit iste, dicta dolorum harum quas sunt!</p>
					</li>
				</ul>
			</section>
			<section>
				<section>
					<h2>MAKE YOUR OWN MOMENTUM</h2>
					<p>Hair Saloon Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis saepe, numquam maxime sint cumque non officiis assumenda animi sed tempora.</p>
					<a href="#">- READ MORE</a>
				</section>
				<section>
					<img src="#" alt="Woman getting his hair done">
				</section>
			</section>
			<section>
				<section>
					<img src="#" alt="professionals">
					<h3>ANITA WILLIMS</h3>
					<span>-COLOURIST</span>
				</section>
				<section>
					<img src="#" alt="professionals">
					<h3>AYESMA LAKE</h3>
					<span>-STYLIST</span>
				</section>
				<section>
					<img src="#" alt="professionals">
					<h3>SMITH MICHELE</h3>
					<span>-SOMETHING</span>
				</section>
			</section>
			<section>
				<span>COLOUR DAY OFFER!</span>
				<h3>-10% ON HAIRCUT COLOR AND HIGHLIGHT</h3>
				<a href="#">- BOOK APOINTMENT</a>
			</section>
			<section>
				<h2>OUR LOOKBOOK</h2>
				<ul>
					<li><img src="#" alt="Woman"></li>
					<li><img src="#" alt="Woman"></li>
					<li><img src="#" alt="Woman"></li>
					<li><img src="#" alt="Woman"></li>
					<li><img src="#" alt="Woman"></li>
					<li><img src="#" alt="Woman"></li>
				</ul>
			</section>
		</main>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
